<center>
<h1>Zaproszenie</h1>

<p>Zaproszenie dla szanownego Pana {{ data.1.value }} na:<p>

<p><span style="font-size:20px">
przyjecie urodzinowe
</span></p>

<p>ktore odbedzie sie 12 maja w sali Politechniki Warszawskiej</p>
</center>

