<h1>Lista Gosci</h1>

<p>Prosze o wpisanie sie przed zajeciem pokoju.</p>

<table class="table table-bordered">
<thead><tr>
    <th>L.P.</th>
    <th>Imie</th>
    <th>Wiek</th>
    <th>Podpis</th>
</tr></thead>
<tbody>
{% for elem in data_site.tabledata %}
    <tr>
        {% for data in elem %}
            <td>{{ data.value }}</td>
        {% endfor %}
        <td> </td>
    </tr>
{% endfor %}
</tbody>
</table>
