{% if data_site.result %}
    <form action="." method="post">
        {% csrf_token %}
        <input type="hidden" name="view_id" value="view_{{ data_site.view_id }}" />
        {% for elem in data_site.tabledata %}
            {% include elem.url %}<br />
            {% for mess in elem.messages  %}
                <div class="alert alert-danger" role="alert">{{ mess }}</div>
            {% endfor %}
        {% endfor %}
        <input type="submit" value="Wyslij">
    </form>
{% else %}
                    <div class="jumbotron">
                        <h2>Element dodany poprawnie</h2>
                        <img src="/static/img/ok.png" alt="error" />
                    </div>
{% endif %}
