{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ data_site.title }}</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="/static/css/style-ajango.css" />
        <link rel="shortcut icon" href="/static/favicon.ico" />
    </head>
    <body>
        <div class="container theme-showcase" role="main">
            {% if data_site.list_mode %}
                {% include data_site.include_view %}
            {% else %}
                {% for data in data_site.tabledata|slice:":1" %}
                    {% include data_site.include_view %}
                {% endfor %}
            {% endif %}
        </div>
    </body>
</html>
