{% if data_site.result %}
    {% for elem in data_site.tabledata %}
        <div><span style="font-weight: bold">{{ elem.label }}: </span>{% include elem.url %}</div>
    {% endfor %}
{% else %}
                    <div class="jumbotron">
                        <h2>Brak elementow do wyswietlenia</h2>
                        <img src="/static/img/no_elem.png" alt="error" />
                    </div>
{% endif %}
