{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ data_site.title }}</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="/static/css/style-ajango.css" />
        <link rel="shortcut icon" href="/static/favicon.ico" />
    </head>
    <body>
        {% include "default/ajango_menu.html" %}
        <div class="container theme-showcase" role="main">
            <div class="page-header">
                <h1><a href="/{{ appName }}">{{ data_site.title }}</a></h1>
            </div>
            <div class="content container">
                <div class="row">
                    {% if data_site.header %}
                        <h2>{{ data_site.header }}</h2>
                    {% endif %}  
                    {% include data_site.include_view %}
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <p class="text-muted">This site is prepary by <a href="https://bitbucket.org/rafyco/ajango">Ajango</a> system.</p>
            </div>
        </footer>
    </body>
</html>
