{% ifequal data_site.layout 'vertical' %}
<!-- vertical -->
{% for data_site in data_site.views %}
<div>{% include data_site.include_view %}</div>
{% endfor %}
<!-- Koniec Vertical -->
{% else %}
<!-- Horizontal -->
<table style="width:100%"><tr>
{% for data_site in data_site.views %}
<td>{% include data_site.include_view %}</td>
{% endfor %}
</tr></table>
<!-- Koniec Horizontal -->
{% endifequal %}

