<table class="table">
    <thead><tr>
    {% for elem in data_site.tableheader %}
        <th>{{ elem }}</th>
    {% endfor %}

    {% for line in data_site.tabledata %}
        <tr>
        {% for elem in line %}
            <td>{% include elem.url %}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </tr></thead>
</table>