        <nav class="navbar navbar-static-top navbar-dark bg-inverse">
            <a class="navbar-brand" href="/{{ data_site.appName }}">{{ data_site.appName }}</a>
            <ul class="nav navbar-nav">
                {% for elem in data_site.menu %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ elem.url }}">{{ elem.name }}</a>
                {% endfor %}
                </li>
            </ul>
        </nav>